.sdlc-container-alt.position-relative
  .sdlc-description
    %a.title-link{ href: "/concurrent-devops" }
      %h2 200% Faster DevOps Lifecycle
    %p From project planning and source code management to CI/CD and monitoring, GitLab is a single application for the entire DevOps lifecycle.
  %img.sdlc-image{ src: "/images/home/sdl-single-application.png" }
  .table-container
    %p.table-label.single-application-label GitLab is a single application for the entire DevOps lifecycle.
    %p.table-label.separate-application-label GitLab replaces

    %table.sdlc-table
      %tr
        - data.sdlc.each do |phase|
          %td.phase-container
            = partial "/includes/icons/sdlc-icons/#{phase.phase.downcase}.svg"
            %p #{phase.phase}

      %tr.single-application-row
        - data.sdlc.each do |phase|
          %td.solutions-container
            %a{href: "/stages-devops-lifecycle/#{phase.phase.downcase}/"}
              %img.gitlab-logo{ src: "/images/comparison/gitlab-logo.svg" }

      %tr.separate-application-row
        - data.sdlc.each do |phase|
          %td.competitors-container{ id: "#{phase.phase.downcase}-competitors-container" }
            - if phase.competitors
              - phase.competitors.each do |competitor|
                %a.competitor-logo-container{ href: "#{competitor.link}" }
                  .competitor-tooltip
                    %p.tooltip-text
                      = competitor.name
                    .tooltip-carat
                  %img.competitor-logo{ src: "#{competitor.logo}", alt: "#{competitor.name} logo png" }

  .btn-group.margin-top20
    %a.btn.cta-btn.accent.see-all-comparisons{ href: '/comparison/' } See and compare all DevOps tools
