!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{class: "#{page_classes} #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav", offset: "90"}}
    .page-wrap
      = partial "includes/google/gtm"
      = partial "includes/layout/header"
      = partial "includes/layout/headline"

      .simple-header
        %h1
          GitLab compared to other tools

      .comparison-container.full-post
        .container.comparison-table
          .comparison-page-content.col-sm-12
            = yield

      .content-container.text-center{ style: "border-top: 1px solid #d7d7d7; color: #777" }
        .container
          %em
            GitLab is the trademark of GitLab, Inc. All other logos and trademarks are the logos and trademarks of their respective owners.

      -# .comparison-page-info.explore-product-roadmap
      -#   .container
      -#     .open-core
      -#       %h2.text-center
      -#         GitLab is open core
      -#       %p.text-center
      -#         GitLab is an open-core product whereas our competitors are mostly
      -#         closed-source products. The GitLab Community Edition is fully
      -#         open source, and the Enterprise Edition is open core (proprietary).
      -#       .row
      -#         .col-md-6
      -#           %h3
      -#             Access to the source code
      -#           :markdown
      -#             Unlike closed source software, you can see and modify the GitLab
      -#             [Community Edition](https://gitlab.com/gitlab-org/gitlab-ce/) and [Enterprise Edition](https://gitlab.com/gitlab-org/gitlab-ee/) source code at any time. Be it
      -#             right on the server or by forking our repositories, you can add
      -#             features and make customizations. We do recommend that you try
      -#             to merge your changes back into the main source code, so that
      -#             others can benefit and your instance stays easy to maintain and
      -#             update.
      -#         .col-md-6
      -#           %h3
      -#             Build with a community
      -#           %p
      -#             GitLab is built by hundreds of people every month. Customers,
      -#             users and GitLab, Inc. all contribute to every release. This
      -#             leads to features that organizations actually need, such as
      -#             easy, yet powerful user management.
      -#       .row
      -#         .col-md-6
      -#           %h3
      -#             Viable long term
      -#           %p
      -#             GitLab has a solid community with hundreds of thousands of
      -#             organizations using and often contributing to the software.
      -#             This means that GitLab is much more viable for long term usage,
      -#             as it's not reliable on a single company supporting it.
      -#         .col-md-6
      -#           %h3
      -#             New stable version every month
      -#           %p
      -#             GitLab releases a new stable version every single month, full
      -#             of improvements, new features, and fixes. This allows GitLab to
      -#             move fast and respond to customer requests extremely quickly.

      .content-container.explore-gitlab-products.text-center
        .container
          %h2.color-primary
            Choose the GitLab edition that is best for your team
          %a.btn.cta-btn.btn-red.margin-top20{ href: "/products/" }
            Explore our products
      - if current_page.data.trial_bar
        = partial "includes/features/gitlab-ee-trial"

      .footer-container
        = partial "includes/layout/footer"
